{% extends 'core.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  {% load static %}
  <div class="onmSW r5EXM">
    <div class="ZiF5V iw3Mc">
      <div class="wMede">
        <img class ="cXZ47" src="{% static 'social/images/locksmall.png' %}" alt="Lock Icon">
      </div>
      <div class="Z9Vv9">
        <h4 class="ny38G">Problems signing in ?</h4>
      </div>
      <div class="OhudU">
        <p class="ypNWu gIXSw">Enter your email address, phone number, or
          username, and we'll send you a link to return to
          your account.</p>
      </div>
      <form method="post" data-validate-identifier-url="{% url 'users:validate_identifier' %}">
        {% csrf_token %}
          <div class="KwGlY">
            {% for field in form %}
            <div class="-MzZI">
              {{ field }}
              <span class="Xvkkr">{{ field.label }}</span>
            </div>
            {% endfor %}
          </div>
          <div class="GeQQM">
            <button class="PzHaF" type="submit" name="button">
              Submit a login link
            </button>
          </div>
      </form>
      <div class="KcqW8">
        <p><strong>OR</strong></p>
      </div>
      <div class="">
        <a class="YnqtJ Dcx7s" href="{% url 'users:signup' %}"><strong>Create a new account</strong></a>
      </div>
      <div class="iw3Mc r5EXM yrd2U">
        <a class="YnqtJ Dcx7s" href="{% url 'users:login' %}"><strong>Back to login</strong></a>
      </div>
    </div>
  </div>
{% endblock %}
